In [76]:
%load_ext autoreload
%autoreload 2

The autoreload extension is already loaded. To reload it, use:
  %reload_ext autoreload

In [77]:
import Packages.CoNLLReader as reader

In [78]:
text, data = reader.read_aida_yago_conll(".\\aida-yago2-dataset\AIDA-YAGO2-dataset.tsv")
data

,tokens,indexes,tags,mention,entities,wikidatas,numeric_codes,alpha_codes
0,EU,"(0, 2)",B,EU,--NME--,None,None,None
1,rejects,"(3, 10)",None,None,None,None,None,None
2,German,"(11, 17)",B,German,Germany,http://en.wikipedia.org/wiki/Germany,11867,/m/0345h
3,call,"(18, 22)",None,None,None,None,None,None
4,to,"(23, 25)",None,None,None,None,None,None
...,...,...,...,...,...,...,...,...
301413,younger,"(1615743, 1615750)",None,None,None,None,None,None
301414,brother,"(1615751, 1615758)",None,None,None,None,None,None
301415,",","(1615759, 1615760)",None,None,None,None,None,None
301416,Bobby,"(1615761, 1615766)",B,Bobby,Bobby_Charlton,http://en.wikipedia.org/wiki/Bobby_Charlton,4224,/m/01c8x
301417,.,"(1615767, 1615768)",None,None,None,None,None,None

In [79]:
n_entities = sum([x is not None for x in list(data['entities'])])
n_ass_ents = sum([x is not None for x in list(data['numeric_codes'])])
n_tokens = sum([1 for x in list(data['entities'])])

In [80]:
print('{0:<35} {1:>10} '.format("Numero totale di entità:",n_entities))
print('{0:<35} {1:>10} '.format("Numero totale di entità linkate:",n_ass_ents))
print('{0:<35} {1:>10} '.format("Numero totale di tokens:",n_tokens))
print('{0:<35} {1:>10} '.format("1 entità ogni:",round(n_tokens/n_entities, 2)))

Numero totale di entità:                 50758
Numero totale di entità linkate:         37922
Numero totale di tokens:                301418
1 entità ogni:                            5.94