In [1]:
%load_ext autoreload
%autoreload 2

In [2]:
import Packages.CoNLLReader as reader
import numpy as np
from tqdm import tqdm

In [4]:
text, data = reader.read_aida_yago_conll("D:\\Sgmon\\Documents\\Magistrale\\TESI\\ClusteringAndLinking\\aida-yago2-dataset\\AIDA-YAGO2-dataset.tsv")
save = False
if save:
    text_file = open('text.txt', 'w')
    text_file.write(text)
    text_file.close()
data

,tokens,indexes,tags,mentions,entities,wikidatas,numeric_codes,alpha_codes
0,EU,"(0, 2)",,,,,,
1,rejects,"(3, 10)",,,,,,
2,German,"(11, 17)",B,German,Germany,http://en.wikipedia.org/wiki/Germany,11867,/m/0345h
3,call,"(18, 22)",,,,,,
4,to,"(23, 25)",,,,,,
...,...,...,...,...,...,...,...,...
285584,younger,"(1615647, 1615654)",,,,,,
285585,brother,"(1615655, 1615662)",,,,,,
285586,",","(1615663, 1615664)",,,,,,
285587,Bobby,"(1615665, 1615670)",B,Bobby,Bobby_Charlton,http://en.wikipedia.org/wiki/Bobby_Charlton,4224,/m/01c8x
285588,.,"(1615671, 1615672)",,,,,,

In [5]:
n_entities = sum([x is not '' for x in list(data['entities'])])
n_ass_ents = sum([x is not '' for x in list(data['numeric_codes'])])
n_tokens = sum([1 for x in list(data['entities'])])

In [6]:
print('{0:<35} {1:>10} '.format("Numero totale di entità:", n_entities))
print('{0:<35} {1:>10} '.format("Numero totale di tokens:", n_tokens))
print('{0:<35} {1:>10} '.format("1 entità ogni:", round(n_tokens / n_entities, 2)))

Numero totale di entità:                 27817
Numero totale di tokens:                285589
1 entità ogni:                           10.27

In [23]:
ent_nums = {}
unique_entities = np.unique(data[data['entities'] != '']['entities'].values)
entities = data['entities'].values
for uniqu_ent in tqdm(entities):
    ent_nums[uniqu_ent] = 0
for uniqu_ent in tqdm(entities):
    ent_nums[uniqu_ent] = ent_nums[uniqu_ent] + 1
ent_nums.pop('')
ent_nums = dict(sorted(ent_nums.items(), key=lambda item: item[1], reverse=True))

100%|██████████| 285589/285589 [00:00<00:00, 3280891.94it/s]
100%|██████████| 285589/285589 [00:00<00:00, 2550580.74it/s]