In [1]:
from Packages.CDIST import cdist_generic

import Packages.ClusteringHelper as ch
import numpy as np
from tqdm.notebook import tqdm
from collections import Counter
from Packages.TimeEvolving import Cluster

text, data = ch.read_aida_yago_conll(
    "D:\\Sgmon\\Documents\\Magistrale\\TESI\\ClusteringAndLinking\\aida-yago2-dataset\\AIDA-YAGO2-dataset.tsv")
save = False
if save:
    text_file = open('text.txt', 'w')
    text_file.write(text)
    text_file.close()
data

,documents,tokens,indexes,word_indexes,mentions,entities,wikidatas,numeric_codes,alpha_codes
0,0,EU,"(0, 2)",0,,,,,
1,0,rejects,"(3, 10)",1,,,,,
2,0,German,"(11, 17)",2,German,Germany,http://en.wikipedia.org/wiki/Germany,11867,/m/0345h
3,0,call,"(18, 22)",3,,,,,
4,0,to,"(23, 25)",4,,,,,
...,...,...,...,...,...,...,...,...,...
285584,1392,younger,"(1342, 1349)",265,,,,,
285585,1392,brother,"(1350, 1357)",266,,,,,
285586,1392,",","(1358, 1359)",267,,,,,
285587,1392,Bobby,"(1360, 1365)",268,Bobby,Bobby_Charlton,http://en.wikipedia.org/wiki/Bobby_Charlton,4224,/m/01c8x
285588,1392,.,"(1366, 1367)",269,,,,,

In [2]:
ents_data = data[data['entities'] != ''].copy()

In [3]:
from pyxdameraulevenshtein import damerau_levenshtein_distance

In [4]:
mentions = list(ents_data.mentions)

In [5]:
mentions_res = np.array(mentions).reshape(-1,1)

In [8]:
def distance(x, y):
    x, y = x[0], y[0]
    if len(x) < 4 or len(y) < 4:
        if x == y:
            return 0
        else:
            return damerau_levenshtein_distance(x, y) + 3
    else:
        return damerau_levenshtein_distance(x, y)

In [9]:
import time
tic = time.perf_counter()

m_matrix = cdist_generic(distance, mentions_res[:1000],
                         dataset2=mentions_res[:1000], n_jobs=-1)
time.perf_counter()-tic

51.092547499999995